@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Tema VioletBlue
   > body background-image: linear-gradient(to right bottom, #160739, #250e66, #371097, #4b0eca, #6300ff);
   > header e footer background-color: #160739; 
   > section img:hover {box-shadow: 0px 0px 25px 5px rgba(97, 82, 184, 0.623);}
*/

/* Tema Dark > background-color: #111; > body, header e footer
> section img:hover {box-shadow: 0px 0px 25px 5px rgba(68, 67, 67, 0.589);}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: linear-gradient(to right bottom, #1d0c3a, #1d0c3a, #1d0c3a, #1d0c3a, #1d0c3a);
    color: aliceblue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-style: italic;
}

body.ativo {
    background-image: linear-gradient(to right bottom, #111, #111, #111, #111, #111);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: .8rem;
    font-weight: 500;
    position: fixed;
    top: 0;
    width: 100%;
    padding: .3rem 0rem .3rem 0rem;
    background-color: #1d0c3a;
    z-index: 999;
}

.header-theme.ativo {
    background-color: #111;
}

.icon-theme {
    position: fixed;
    top: 1.1rem;
    right: .7rem;
    cursor: pointer;
    transition: all .4s;
}

.icon-theme:hover {
    transform: scale(1.1);
}

/* Barra inteira */
::-webkit-scrollbar {
    width: 4px;
    /* largura */
}

/* Fundo da barra */
::-webkit-scrollbar-track {
    background: #111;
    /* cor do fundo */
}

/* Parte que se move (o "botão") */
::-webkit-scrollbar-thumb {
    background: rgb(206, 84, 54);
    /* cor principal */
    border-radius: 10px;
}

/* Hover (quando passa o mouse) */
::-webkit-scrollbar-thumb:hover {
    background: aliceblue;
}

main {
    z-index: 4;
    height: 100%;
    width: 100%;
    padding-bottom: 5rem;
}

h1 {
    text-align: center;
    font-size: 1.3rem;
}

h1 span {
    color: rgb(206, 84, 54);
    font-size: 2.1rem;
    padding-left: .4rem;
}

h2 {
    text-align: center;
    font-size: .5rem;
    font-weight: 700;
    padding: 0rem .3rem;
}

.contador-visitas {
    position: fixed;
    font-size: .3rem;
    left: .6rem;
    display: none;
}

section {
    margin-top: 5.5rem;
    padding: 0rem 1.7rem;
}

section img {
    height: 87%;
    width: 100%;
    max-width: 100%;
    border-radius: 1.3rem;
    transition: all .4s;
    object-fit: cover;
}

section img:hover {
    transform: translateY(-7px) scale(1);
    box-shadow: 0px 0px 25px #430e66;
}

body.ativo section img:hover {
    box-shadow: 0px 0px 25px 5px rgba(68, 67, 67, 0.589);
}

ul,
li {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 97%;
    gap: 3rem 2rem;
    margin: 0 auto;
    text-align: center;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 400;
    font-size: 1rem;
    color: aliceblue;

    & {
        p {
            padding-top: 1rem;
            font-weight: 600;
            font-size: 1.1rem;
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0rem .7rem;
    font-size: .6rem;
    font-weight: 570;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .3rem 0rem;
    background-color: #1d0c3a;
    z-index: 999;
}

.footer-theme.ativo {
    background-color: #111;
}

footer span a {
    color: rgb(206, 84, 54);
    font-size: 1.3rem;
    font-weight: 800;
    text-decoration: none;
    z-index: 100;
    padding-left: .3rem;
}

.btntop {
    position: fixed;
    bottom: 3.7rem;
    right: .6rem;
    cursor: pointer;
    transition: all .8s;
    opacity: 0;
}

.btntop:hover {
    transform: translateY(-10px) scale(1.1);
}

/* iPhone5 - Horizontal */

@media (max-width: 812px) {

    .icon-theme {
        right: .5rem;
        cursor: pointer;
    }

    ul,
    li {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(141px, auto));
        gap: 4rem 2rem;

    }

    ul li a p {
        font-size: .9rem;
        padding-top: 1rem;
    }

    .btntop {
        bottom: 3rem;
        right: .5rem;
    }

    .btntop:hover {
        transform: translateY(-10px) scale(1.1);
    }
}

/* iPhone5 - Vertical */

@media (max-width: 478px) {

    .icon-theme {
        right: .3rem;
        cursor: pointer;
    }

    section img {
        height: 86%;
    }

    ul,
    li {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, auto));
        gap: 2.5rem 2rem;
    }

    ul li a p {
        font-size: .9rem;
        font-weight: 700;
    }

    .btntop {
        bottom: 3.5rem;
        right: .3rem;
    }

    .btntop:hover {
        transform: translateY(-10px) scale(1.1);
    }

}